/* 
    Document           : style.css
    Created on         : Oct 21, 2016
    Author             : J. Ayoub & M-H. Aghamahdi
    Object             : This page allows us to create styles on our pages.
    Information Source : N/A
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}